<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Hannah Anderson" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- Google Web Fonts -->
   <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,400italic' rel='stylesheet' type='text/css'>
   <link href='http://fonts.googleapis.com/css?family=PT+Sans:700' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Hannah Anderson</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Github<br />
        Twitter
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/hannaheeps">https://github.com/hannaheeps</a><br />
        <a href="https://twitter.com/hannaheeps">https://twitter.com/hannaheeps</a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
